<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.googlecode.networklog"
  android:versionCode="94"
  android:versionName="2.0-rc3">
  <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8" />
  <application android:label="@string/app_name" android:icon="@drawable/icon">
    <activity android:name="NetworkLog"
      android:launchMode="singleTask"
      android:alwaysRetainTaskState="true"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="LogActivity" />
    <activity android:name="AppActivity" />
    <activity android:name="Preferences" />
    <activity android:name="AppTimelineGraph" />
    <activity android:name="OverallAppTimelineGraph" />
    <activity android:name="ErrorDialogActivity"
      android:theme="@android:style/Theme.Translucent" />
    <receiver android:name=".BootCompletedReceiver">
      <intent-filter>
        <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
      </intent-filter>
    </receiver>
    <service android:name=".NetworkLogService"
      android:label="NetworkLogService" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 
